<!-- <%= javascript_pack_tag 'hello' %> -->

<h1>WashU Men's Soccer Covid19 Juggling Fundraiser</h1>

<div>
    <!--Progress Bar-->
</div>
<button>Share</button>
<%= button_to 'Sponsor Team', home_show_team_path %>
<button>Sponsor Players</button>
<div>
    <div>
        <h2>Description</h2>
        <p>descriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescription</p>
    </div>
    <div>
        <h2>Players</h2>
        <div>
            (List of Players)
        </div>
    </div>


</div>

<% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Login", new_user_session_path %>
<% end %>


